.splash-page {
  background: rgb(147,109,134);
  background: linear-gradient(106deg, rgba(147,109,134,1) 0%, rgba(147,113,156,1) 24%, rgba(136,124,192,1) 49%, rgba(113,126,196,1) 78%, rgba(90,125,190,1) 99%);
  width: 95%;
  height: 100%;
  overflow: hidden;
  padding-top: 100px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5%;
  font-size: 300%;

  .left-navbar {
    padding-top: 80px;
    width: 100%;
    font-weight: bold;
    color: white;

    .text1 {
      font-size: 100%;
      width: 25%;
      line-height: 3rem;
    }
    
    .text2 {
      font-size: 50%;
      line-height: 3rem;
      width: 40%;
    }
    
    .redirectWebPlayer {
      display: flex;
      background-color:rgb(29, 185, 84);
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      padding: 15px 10px 15px 10px;
      border-radius: 100px;
      font-weight: 700;
      letter-spacing: 3px;
      width: 30%;
      color: white;
      text-transform: uppercase;
      border: none;
      margin-top: 20px;
      margin-right: 15px;
    }

    .redirectLink {
      text-decoration: none;
    }
  }
}
