.app-header-loggedout {
  display: flex;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 3;
  flex-direction: row;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  
  .app-header-loggedout > a {
    width: 50%
  }
  
  
  #fullLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 170px;
    height: auto;
    position: relative;
    padding-left: 45px;
  }
  
  .session-navbar-loggedout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    align-content: space-between;
    right: 45px;
    width: 80%;
    
    .separator {
      color: white;
      text-align: center; 
    }
    
    li {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    
    li > p, li > a {
      width: 200%;
    }
    
    a, a:link {
      text-decoration: none;
      color: white;
    }
    
  }
  
  .session-navbar > a:hover {
    color: #1ed760;
  }
}

.app-header-loggedin {
  display: flex;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 3;
  flex-direction: row;
  font-weight: bold;
  padding: 10px 10px 10px 10px;

  .app-header-loggedin > a {
    width: 50%
  }

  img#fullLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 170.5px;
    height: auto;
    position: relative;
    padding-left: 45px;
  }

  .loggedin-navigation {
    display: flex;
    margin-left: 15%;
    align-content: center;
    
    .backward, .forward {
      flex-direction: column;
      display: flex;
      justify-content: center;
      padding-left: 70px;
    }

    i.fas {
      display: flex;
      padding-top: 5px 10px 5px 10px;
      color: white;
      font-size: 150%;
    }

  }
  
  .session-navbar-loggedin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    align-content: space-between;
    right: 45px;
    width: 80%;

    .separator {
      color: white;
      text-align: center; 
    }
    
    li {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    
    li > p, li > a {
      width: 200%;
    }
    
    a, a:link {
      text-decoration: none;
      color: white;
    }
    
  }
  
  .session-navbar > a:hover {
    color: #1ed760;
  }
}