// Navbar for loggedout

.app-header-loggedout {
  display: flex;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 98.4%;
  z-index: 3;
  flex-direction: row;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
  isolation: isolate;
  
  .app-header-loggedout > a {
    width: 50%
  }
  
  
  #fullLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 150px;
    height: auto;
    position: relative;
    margin-left: 45px;
  }
  
  .session-navbar-loggedout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
      position: relative;

    right: 50px;
    margin-left: 10px;
    padding: 10px;
    
    .separator {
      color: white;
      text-align: center; 
    }
    
    li {
      display: flex;
      align-items: center;
      padding: 2px 15px;
    }
    
    li:nth-child(2) {
      border-right: 2px solid white;
      padding-right: 25px;
    }
    
    li:nth-child(3) {
      margin-left: 10px;
    }
    
    li > p, li > a {
      width: 200%;
    }
    
    a, a:link {
      text-decoration: none;
      color: white;
    }
    
  }
  
  .session-navbar > a:hover {
    color: #1ed760;
  }
}

// ----------------------------------------------------------------
// Navbar for loggedin

// Navbar for home
.app-header-loggedin-home {
  display: flex;
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 997px;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  right: 0px;
  isolation: isolate;

  .app-header-loggedin-home > a {
    width: 50%
  }

  .loggedin-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .backward, .forward {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      margin-left: 20px;
      border-radius: 75%;
      color: white;

      cursor: pointer;
      background-color: rgba(0,0,0,.7)
    }

    i.fas {
      display: flex;
      padding-top: 5px 10px 5px 10px;
      color: white;
      font-size: 100%;
    }

  }
  
  .session-navbar-loggedin-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: relative;
    align-items: center;
    align-content: space-between;

    right: 50px;
    margin-left: 10px;
    padding: 10px;
    isolation: isolate;
    
    li {
      display: flex;
      align-items: center;
      padding: 2px 10px;
    }
    
    li:nth-child(2) {
      border-right: 2px solid white;
      padding-right: 20px;
    }

    li:nth-child(3) {
      margin-left: 10px;
    }
    
    
    li > p, li > a {
      width: 200%;
    }
    
    a, a:link {
      text-decoration: none;
      color: white;
    }
    
  }
  
  .session-navbar-home > a:hover {
    color: #1ed760;
  }
}

// -------------------------------------------------

// Navbar for library
.app-header-loggedin-library {
  display: flex;
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 1014px;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  right: 0px;
  isolation: isolate;

  .app-header-loggedin-library > a {
    width: 50%
  }

  .loggedin-navigation-library {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .backward, .forward {
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 15px;
      margin-left: 20px;
      border-radius: 75%;
      color: white;

      cursor: pointer;
      background-color: rgba(0,0,0,.7)
    }

    i.fas {
      display: flex;
      padding-top: 5px 10px 5px 10px;
      color: white;
      font-size: 100%;
    }

  }

  
  .session-navbar-loggedin-library {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    position: relative;
    align-items: center;
    align-content: space-between;
    
    right: 50px;
    margin-left: 10px;
    padding: 10px;
    
    li {
      display: flex;
      align-items: center;
      padding: 2px 10px;
    }
    
    li:nth-child(2) {
      border-right: 2px solid white;
      padding-right: 20px;
    }
    
    li:nth-child(3) {
      margin-left: 10px;
    }
    
    
    li > p, li > a {
      width: 200%;
    }
    
    a, a:link {
      text-decoration: none;
      color: white;
    }
    
  }
  
  .library-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    color: white;
    cursor: pointer;
    width: 555px;
  
    li {
      padding: 9px 15px;
      margin-left: 10px;
    }
    
    li:hover, 
    li:focus, 
    li:active {
      background-color: #282828;
      padding: 9px 15px;
      margin-left: 10px;
      border-radius: 5px;
    }
  }
  .session-navbar-library > a:hover {
    color: #1ed760;
  }
}

// -----------------------------------------------------

// Navbar for search
.app-header-loggedin-search {
  display: flex;
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 997px;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  right: 0px;
  isolation: isolate;

  .app-header-loggedin-search > a {
    width: 50%
  }

  .loggedin-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .backward, .forward {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      margin-left: 20px;
      border-radius: 75%;
      color: white;

      cursor: pointer;
      background-color: rgba(0,0,0,.7)
    }

    i.fas {
      display: flex;
      padding-top: 5px 10px 5px 10px;
      color: white;
      font-size: 100%;
    }
  }
  
  
  .session-navbar-loggedin-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: relative;
    align-items: center;
    
    right: 50px;
    margin-left: 10px;
    padding: 0px 10px 0px 0px;
    width: 800px;

    .search-navbar {
      background-color: white;
      font-family: 'Montserrat', sans-serif;
      
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      width: 333px;
      border-radius: 50px;
      padding: 4px 0px 4px 10px;
      cursor: text;

      
      #search-close-button {
        cursor: pointer;
        position: relative;
        right:0px;
        visibility: hidden
      }
      
      .search-input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        width: 260px;
        height: 30px;
        letter-spacing: .015em;

        color: black;
        border: none;
        cursor: text;
        z-index: 1;
      }

      .search-input:focus {
        border-width: 0px;
        outline: none;
        cursor: text;
      }
      
      #magnifying-glass-search {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: black;
        cursor: text;
        font-size: 30px;
      }
    }

    .search-navbar-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
      li {
        display: flex;
        align-items: center;
        padding: 2px 10px;
      }
      
      li:nth-child(2) {
        border-right: 2px solid white;
        padding-right: 20px;
      }
      
      li:nth-child(3) {
        margin-left: 10px;
      }
      
      
      li > p, li > a {
        width: 200%;
      }
      
      a, a:link {
        text-decoration: none;
        color: white;
      }
    }
    
    
  }
  
  .session-navbar-search > a:hover {
    color: #1ed760;
  }
  
}

// ------------------------------------------
// Splash Page

.app-header-loggedin-splash {
  display: flex;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 3;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  right: 0px;
  isolation: isolate;

  .app-header-loggedin-splash > a {
    width: 50%
  }

  #fullLogo-splash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 65px;
    width: 150px;
    height: auto;
  }
  
  .session-navbar-loggedin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: relative;
    align-items: center;
    align-content: space-between;

    right: 50px;
    margin-left: 10px;
    padding: 10px;
    
    li {
      display: flex;
      align-items: center;
      padding: 2px 10px;
    }
    
    li:nth-child(2) {
      border-right: 2px solid white;
      padding-right: 20px;
    }

    li:nth-child(3) {
      margin-left: 10px;
    }
    
    li > p, li > a {
      width: 200%;
    }
    
    a, a:link {
      text-decoration: none;
      color: white;
    }
    
  }
  
  .session-navbar-splash > a:hover {
    color: #1ed760;
  }
}