#session-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 200%;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  width: 35%;
  position: absolute;
  right: 33%;
  font-weight: 600;
  padding-top: 75px;
  
  #login-inner-header {
    text-align: center;
    line-height: 3.5rem;
    
    #login-greeting {
      margin: -3%;
      // padding: -50%;
      font-weight: 700;
      font-size: 15px;
    }
    
    #fb-login-button {
      background-color: rgb(58, 88, 151);
      border-radius: 500px;
      font-weight: 700;
      letter-spacing: 3px;
      padding: 15px 10px 15px 10px;
      width: 105%;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      border: none;
      
    }
    
    #fb-login-button:hover {
      background-color:rgb(55, 94, 177);
      cursor: pointer;
    } 
    
    #apple-login-button {
      color: #fff;
      background-color: #000;
      border-radius: 500px;
      font-weight: 700;
      letter-spacing: 3px;
      padding: 15px 10px 15px 10px;
      width: 105%;
      text-transform: uppercase;
      border: none;
    }
    
    #apple-login-button:hover {
      background-color: rgb(59, 56, 56);
      cursor: pointer;
    } 
    
    #google-login-button {
      color: #616467;
      box-shadow: inset 0 0 0 2px #616467;
      background-color: transparent;
      border-radius: 500px;
      font-weight: 700;
      letter-spacing: 3px;
      padding: 15px 10px 15px 10px;
      width: 105%;
      text-transform: uppercase;
      border: none;
    }
    
    #google-login-button:hover {
      background-color: #616467;
      color: white;
      cursor: pointer;
    } 
    
    #login-or {
      padding-top: 0px;
      margin: -1%;
      font-size: 15px;
      color: rgb(117, 117, 117);
    }
    
    #login-or::before, #login-or::after {
      display: inline-block;
      content: "";
      border-bottom: 1px solid rgb(189, 189, 189);
      width: 11rem;
      margin: 0 1rem;
      transform: translateY(-0.30rem);
    }
  }
  
  #login-form {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    position: relative;
    right: 33%;
    // padding-top: 0px;
    margin: -1%;
    
    #login-label {
      font-size: 15px;
      align-items: center;
      line-height: 200%;
      font-weight: bold;
    }
    
    #login-input-box {
      width: 285%;
      padding: 10px;
      margin-bottom: 10px;
    }
    
    #form-login-button {
      background-color:rgb(29, 185, 84);
      padding: 15px 10px 15px 10px;
      border-radius: 100px;
      font-weight: 700;
      letter-spacing: 3px;
      width: 300%;
      color: white;
      text-transform: uppercase;
      border: none;
      margin-top: 20px;
    }
    
    #form-login-button:hover {
      background-color: rgb(32, 202, 92);
      color: white;
      cursor: pointer;
    } 
    
    #signup-redirect-question {
      font-weight: 700;
      font-size: 100%;
      position: relative;
      left: 100%;
      text-align: center;
    }
    
  }

  #signup-redirect {
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    border-radius: 500px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 15px 10px 15px 10px;
    width: 300%;
    text-transform: uppercase;
    border: none;

  }
  
  #signup-redirect:hover {
    background-color: #616467;
    color: white;
    cursor: pointer;
  } 
}
