.webplayer {
  background-color: rgb(18, 18, 18);
  width: 95%;
  height: 100%;
  overflow: hidden;
  padding-top: 100px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5%;
  font-size: 300%;
}