.webplayer {
  background-color: rgb(18, 18, 18);
  color: white;
  overflow: hidden;
  position: absolute;
  font-family: 'Montserrat', sans-serif;

  width: 95%;
  height: 100%;
  padding-top: 100px;
  padding-left: 5%;
  font-size: 300%;
  margin-left: 25%;
}