.sidebar {
  background-color: black;
  color: #b3b3b3;
  width: 50%;
  z-index: 4;
  width: 16%;
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  padding-left: 2%;
  font-size: 90%;
  font-weight: bold;

  #fullLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    height: auto;
    position: relative;
  }

  .sidebar-list {
    padding-top: 20px;
    line-height: 2rem;
    padding-right: 20px;


    .sidebar-header {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
  }
}