.musicPlayer {
  background-color: rgb(18, 18, 18);
  color: white;
  width: 95%;
  overflow: hidden;
  padding-top: 100px;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5%;
  margin-top: 40%;
  font-size: 300%;
  bottom: 0%;
  z-index: 4;
}