.musicPlayer {
  background-color: #282828;
  color: white;
  width: 100%;
  overflow: hidden;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  bottom: 0%;
  z-index: 5;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  audio::-webkit-media-controls-timeline-container,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display,
  audio::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-volume-slider-container,
  audio::-webkit-media-controls-volume-slider {
    display: flex;
    background-color: red;
  }
}
  // padding-bottom: 20px;


#pButton {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
  color: white;
  font-size: 50px;
  padding: 10px;
}

#pButton:hover {
  cursor: default; 
  color: white;
  transform: scale(1.1);
}

.pButton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}