.musicPlayer {
  background-color: #282828;
  color: white;
  width: 95%;
  overflow: hidden;
  padding-top: 10px;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5%;
  font-size: 300%;
  bottom: 0%;
  z-index: 4;
}