.show-index{
  position: absolute;
  background-color: rgb(18, 18, 18);
  color: white;
  width: 79.4%;
  height: 100%;
  overflow: hidden;
  margin-top: 80px;
  margin-left: 19%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;

  .song-index {
    position: relative;
    font-size: 100%;
    padding: 4%;
    width: 40px;
  
    .button-logo {
      height: 100px;
      width: 100px;
    }
  }
}