.show-index{
  position: absolute;
  background-color: rgb(18, 18, 18);
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 0;

  .song-index {
    position: relative;
    font-size: 100%;
    padding: 4%;
    width: 40px;
  
    .button-logo {
      height: 50px;
      width: 50px;
    }
  }
}