.search-results-container {
  position: absolute;
  background-color: #121212;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  margin-bottom: 100px;
  
  .inner-search-results-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 60px 0px 100px 260px;
    height: 70%;
    width: 78.5%;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 250px;
    padding-bottom: 100px;

    .filtered-container {
      color: white;
      font-family: 'Montserrat', sans-serif;
      
      padding: 20px 0px 20px 0px;
      width: 100%;
      height: auto;
      margin: 10px;
      margin-bottom: 20px;
      
      display: flex;
      flex-direction: column; 
      
      h1 {
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
      }
      
      .search-categories {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
        div {
          height: 105%;
          width: 100%;
        }

        ul {
          list-style-type: none;
          margin-top: 10px;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: flex-start;
          gap: 40px;


          li {
            width: 200px;
            height: 250px;
            text-decoration: none;
            margin: 10px 0px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
